.home {
    background: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact {
    background: green;
}
.about {
    background: blue;
}
.services {
    background: cadetblue;

}
/* div {
    
    float: left;
    width: 45%;
    margin: 5px;
    text-align: center;
} */
h1 {
    color: white;
}
.bgBlue {
    background: blue;
}
.bggreen {
    background: green;
}
nav {
    color: white;
    width: 100%;
}
ul {
    width: 80%;
    margin: auto;
    background: #323d70;
    height: 40px;
}
ul li {
    list-style: none;
    float: left;
    margin: 10px;
    width: 23%;
}
ul li a {
    text-decoration: none;
    color: yellow;
    cursor:pointer;
}
ul li a:hover {
    background: white;
    padding: 5px 20px 5px 20px;
    color: black;
    border-radius: 5px;
}
ul li a.active {
    background: white;
    padding: 5px 20px 5px 20px;
    color: black;
    border-radius: 5px;

}
.container {
    width: 80%;
    color: white;
    margin: auto;
}
.container img {
    width: 100%;
    height: 250px;
    border: rgb(202, 109, 109) solid 10px;
    box-shadow: 20px 20px 20px 10px rgba(37, 211, 109, 0.2);

    

}